body {
    background: rgba(255,255,255,0.4) url(kai_awabi.png) no-repeat 85% 95%  fixed;
    background-blend-mode:lighten;
}

table{
    max-width:100%;
}

input[value^="-"]{
    background-color: red;
}

input{
    min-width: 2rem;
    max-width: 2.5rem;
}

ul{
    font-size: 0.75rem;
}

#generateResult tr:hover{
  opacity: 0.85;
}
#generateResult td:hover{
    opacity: 0.7;
}
#generateResult button{
    width: 100%;
}
#generateHead th,#generateResult td{
    min-width: 5.8rem;
    max-width: 5.8rem;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-shadow:
    1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF,  0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#generateResult div{
    position: relative;
}
#generateResult select{
    opacity: 0;
    position: absolute;
    width: 100%;
    left:0;
}
#generateResult select:hover{
    cursor: pointer;
}
h1{
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.generateResultGuide{
    position: absolute;
}

.英気{background-color: #198211;}
.気力{background-color: #9ce33f;}
.猛撃{background-color: #d42f2c;}
.勇猛{background-color: #ff6a65;}
.堅守{background-color: #101380;}
.守備{background-color: #0835e8;}
.俊敏{background-color: #0daec2;}
.精密{background-color: #ff7ef0;}
.拒絶{background-color: #d61eff;}
.属性{background-color: #bdbdbd;}